name: Service testing action

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout new code for testing
        uses: actions/checkout@v4
      - name: Setup go testing infrastructure
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Run all required system tests
        run: make build
